

.botoes-container{
    display: flex;
    justify-content: space-around;
}

.botoes{
    width: 100px;
}



.contato-form {
    background-color: rgb(224, 224, 238);
   width: 50%;
   margin-top: -150px;

   
}

.label{
    margin-top: 10px;
}

.Contato-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: rgb(248, 245, 245);
    align-items: center;
    justify-content: center;
    
}